<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainmenu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>mainmenu_button_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{80,48}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>mainmenu_button_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,644},{248,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,76}}</string>
                <key>sourceSize</key>
                <string>{254,76}</string>
            </dict>
            <key>mainmenu_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,644},{234,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{234,104}}</string>
                <key>sourceSize</key>
                <string>{240,110}</string>
            </dict>
            <key>mainmenu_ninja.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{393,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{393,530}}</string>
                <key>sourceSize</key>
                <string>{405,540}</string>
            </dict>
            <key>mainmenu_ninja_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,722},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,92}}</string>
                <key>sourceSize</key>
                <string>{90,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainmenu_artv2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7416e61965c1d2404e2a4b4b2fe6756f$</string>
            <key>textureFileName</key>
            <string>mainmenu_artv2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
